<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.calboard">
	
<!-- 	property: DTO의 멤버필드, column:테이블의 컬럼 -->
<!-- 	dto의 멤버필드이름과 DB에 컬럼명이 다를 경우 맵핑해 줄 수 있다. -->
	<resultMap type="com.hk.dtos.CalDto" id="calDtoMap">
<!-- 		<id property="id" column="ID" /> -->
		<result property="cseq" column="CSEQ" />
		<result property="id" column="ID" />
		<result property="caltitle" column="CALTITLE" />
		<result property="calcontent" column="CALCONTENT" />
		<result property="mdate" column="MDATE" />
		<result property="calregdate" column="CALREGDATE" />
		<collection property="loginDto" resultMap="loginDtoMap" />
	</resultMap>

	
	<resultMap type="com.hk.dtos.LoginDto" id="loginDtoMap">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="password" column="PASSWORD" />
		<result property="address" column="ADDRESS" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="enabled" column="ENABLED" />
		<result property="role" column="ROLE" />
		<result property="regdate" column="REGDATE" />
	</resultMap>
	
	
</mapper>


