<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.tuboard">
	<select id="tuboardlist" resultType="tuDto" parameterType="Map">
		SELECT TSEQ,TID,TTITLE,TCONTENT,TREGDATE,TREFER,TSTEP,TDEPTH,TREADCOUNT,TDELFLAG 
		FROM TUBOARD
		<where>
			<if test="tseq!=null">
				 TSEQ=#{tseq}		
			</if>		
		</where>
		ORDER BY TREFER DESC,TSTEP 
	</select>

	<insert id="insertboard" parameterType="tuDto">
		INSERT INTO TUBOARD
		VALUES (tuboard_seq.nextval, #{tid},#{ttitle},#{tcontent},SYSDATE
	, (SELECT NVL(max(TREFER),0)+1 FROM TUBOARD),0,0,0,'N')
	</insert>
	
	<update id="updateboard" parameterType="tuDto">
		UPDATE TUBOARD
		SET TTITLE=#{ttitle}, TCONTENT=#{tcontent},TREGDATE=SYSDATE 
		WHERE TSEQ=#{tseq} 
	</update>
	

	<delete id="deleteboard" parameterType="Map">
		DELETE FROM TUBOARD 
		WHERE TSEQ IN
		<foreach collection="seqs" item="ttseq" open="(" close=")" separator=","> 
			#{ttseq}
 		</foreach>
	</delete>
	
	
	<update id="readcount" parameterType="int">
		<![CDATA[
		UPDATE TUBOARD
		SET TREADCOUNT=TREADCOUNT+1 
		WHERE TSEQ=#{tseq}
		]]>
	</update>
	
	<update id="replyupdate" parameterType="tuDto">
		<![CDATA[
		 UPDATE TUBOARD
		 SET TSTEP=TSTEP+1 
		 WHERE TREFER=(SELECT TREFER FROM TUBOARD WHERE TSEQ = #{tseq}) 
		 AND TSTEP > (SELECT TSTEP FROM TUBOARD WHERE TSEQ = #{tseq})
		 ]]>
	</update>
	
	<insert id="replyinsert" parameterType="tuDto">
		INSERT INTO TUBOARD
		VALUES(TUBOARD_SEQ.NEXTVAL,#{tid},#{ttitle},#{tcontent},SYSDATE 
		,(SELECT TREFER FROM TUBOARD WHERE TSEQ=#{tseq})
		,(SELECT TSTEP FROM TUBOARD WHERE TSEQ=#{tseq})+1 
		,(SELECT TDEPTH FROM TUBOARD WHERE TSEQ=#{tseq})+1, 0, 'N')
	</insert>
	
	<select id="recentlist" resultType="tuDto" parameterType="Map">
		<![CDATA[
		SELECT TSEQ,TID,TTITLE,TCONTENT,TREGDATE,TREFER,TSTEP,TDEPTH,TREADCOUNT,TDELFLAG 
		FROM 
		 (
	 	SELECT *
		FROM TUBOARD
		ORDER BY TREGDATE DESC
		 )
		WHERE ROWNUM <= 6 AND TSTEP=0
		]]>
	</select>

</mapper>








